<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>手机糯米</title>
    <link rel="stylesheet" href="../css/nuomiApp.css">
    <link rel="stylesheet" href="../css/font-awesome.min.css">
    <script src="../lib/jquery-1.12.4.min.js"></script>
    <script src="../js/nuomiApp.js"></script>
</head>
<body>
<!--
<h1 id="test" style="position: fixed; top: 100px; right: 100px;"></h1>
-->
<section>
    <h1 id="test" style="position: fixed; top: 100px; right: 100px;"></h1>
    <header>
        <div class="inner">
            <img src="../images/header_logo_03.jpg" alt="">
            <ul>
                <li><a href="#">Android</a></li>
                <li><a href="#">iPhone</a></li>
                <li><a href="#">iPad</a></li>
            </ul>
        </div>
    </header>
    <div class="header-fixed">
        <div class="inner">
            <img src="../images/header_logo_fixed_03.jpg" alt="">
            <ul>
                <li><a href="#">Android</a></li>
                <li><a href="#">iPhone</a></li>
                <li><a href="#">iPpad</a></li>
            </ul>
        </div>
    </div>
    <div class="inner">
        <div class="phone-f1"></div>
        <div class="content-f1">
            <div class="text">
                <p class="title"><span>万能的</span>让生活更精彩</p>
                <p class="desc"><span>随时随地畅享本地</span>美食、电影、酒店、娱乐等服务</p>
                <div class="text-box"></div>
            </div>
            <div class="d-btns clearfix">
                <div class="d-btn d-action appstore" data-target="iphone">
                    <span class="icon-apple"></span>
                    <span>AppStore下载</span>
                </div>
                <div class="d-btn d-action android" data-target="android">
                    <span class="icon-android"></span>
                    <span>Android下载</span>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="inner  content-f2">
        <div class="container">
            <div class="text animated">
                <div class="text-box">
                    <div class="text-line"></div>
                </div>
            </div>
            <div class="phone-wrap animated">
                <div class="phone"></div>
                <div class="items-wrap">
                    <div class="item animated item-01"></div>
                    <div class="item animated item-02"></div>
                    <div class="item animated item-03"></div>
                    <div class="item animated item-04"></div>
                    <div class="item animated item-05"></div>
                    <div class="item animated item-06"></div>
                    <div class="item animated item-07"></div>
                    <div class="item animated item-08"></div>
                    <div class="item animated item-09"></div>
                    <div class="item animated item-10"></div>
                    <div class="item animated item-11"></div>
                    <div class="item animated item-12"></div>
                    <div class="item animated item-13"></div>
                    <div class="item animated item-14"></div>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="inner content-f3">
        <div class="phone-wrap animated">
            <div class="phone animated phone-o"></div>
            <div class="phone animated phone-s"></div>
            <div class="phone-item animated"></div>
            <div class="gift animated"></div>
            <div class="gift-r animated"></div>
            <div class="items-wrap">
                <div class="item animated item-1"></div>
                <div class="item animated item-2"></div>
                <div class="item animated item-3"></div>
                <div class="item animated item-4"></div>
                <div class="item animated item-5"></div>
                <div class="item animated item-6"></div>
            </div>
        </div>
            <div class="text-box">
                <div class="text-line"></div>
            </div>
    </div>
</section>
<section>
    <div class="inner content-f4">
            <div class="text animated">
                <div class="text-box">
                    <div class="text-line-1"></div>
                    <div class="text-line-2"></div>
                </div>
            </div>
            <div class="page-wrap animated">
                <div class="page-1">
                    <div class="voice-wave animated"></div>
                    <div class="mic-icon">
<!--
                        <img src="../images/ct4_mic_bg.png" alt="">
-->
                    </div>
                </div>
                <div class="page-2 animated"></div>
                <div class="page-3 animated"></div>
                <div class="page-4 animated"></div>
                <div class="page-5 animated"></div>
            </div>
        </div>
</section>
<section>
    <div class="inner content-f5">
            <div class="phone"></div>
            <div class="left-items clearfix">
                <div class="item item-11 animated"></div>
                <div class="item item-12 animated"></div>
                <div class="item item-13 animated"></div>
                <div class="item item-21 animated"></div>
                <div class="item item-22 animated"></div>
                <div class="item item-23 animated"></div>
            </div>
            <div class="right-items clearfix">
                <div class="item item-14 animated"></div>
                <div class="item item-15 animated"></div>
                <div class="item item-16 animated"></div>
                <div class="item item-24 animated"></div>
                <div class="item item-25 animated"></div>
                <div class="item item-26 animated"></div>
            </div>
        </div>
</section>
<section>
    <div class="inner content-f6">
            <div class="page-wrap">
                <div class="page-1 animated"></div>
                <div class="page-2 animated"></div>
                <div class="page-3 animated"></div>
            </div>
            <div class="text">
                <div class="text-box">
                    <div class="text-line-1"></div>
                    <div class="text-line-2"></div>
                </div>
            </div>
    </div>
</section>
<footer>
        <span>©2015 nuomi.com</span>
        <span>京ICP证060807号</span>
        <span>京公网安备11010802014106号</span>
        <span>工商注册号110108009499245</span>
        <span>互联网药品信息服务资格证</span>
</footer>
</body>
</html>